<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Log in</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="../assets/plugins/fontawesome-free/css/all.min.css"
    />
    <!-- Ionicons -->
    <link
      rel="stylesheet"
      href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"
    />
    <!-- icheck bootstrap -->
    <link
      rel="stylesheet"
      href="../assets/plugins/icheck-assets/icheck-bootstrap.min.css"
    />
    <!-- Theme style -->
    <link rel="stylesheet" href="../assets/dist/css/adminlte.min.css" />
    <!-- Google Font: Source Sans Pro -->
    <link
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700"
      rel="stylesheet"
    />

    <style>
      div#reset_pass_box {
        width: 400px;
        border: 1px solid #ddd;
        max-width: 90%;
        margin: auto;
        max-height: 80vh;
        padding: 20px;
        margin-top: 40px;
        font-size: 14px;
        font-family: "Source Sans Pro", arial;
      }

      *,
      *:after,
      *:before {
        box-sizing: border-box;
      }

      body {
        margin: 0;
        padding: 0;
        position: relative;
      }

      .reset_logo {
        text-align: center;
        padding-bottom: 5px;
        border-bottom: 1px solid #eee;
        max-width: 80%;
        margin: 0 auto 15px;
      }

      .reset_logo > h1 {
        margin: 0;
      }

      .login-logo {
        text-align: center;
        font-size: 16px;
        margin: 0 0 20px;
      }

      .form-group {
        display: flex;
        align-items: center;
        margin: 0 0 10px;
      }

      .form-group > label {
        font-size: 15px;
        font-weight: 500;
        width: 40%;
        display: block;
        padding-right: 5px;
      }

      .form-group > input {
        font-size: 14px;
        display: block;
        width: 60%;
        padding: 5px;
        border: 1px solid #333;
        outline: none;
        height: 30px;
      }
      .success-message {
        color: red;
        padding: 10px 0;
      }
      button.btn.btn-primary.btn-block {
        display: block;
        width: 150px;
        line-height: 20px;
        font-size: 14px;
        text-transform: uppercase;
        border: none;
        color: #fff;
        padding: 10px;
        height: 40px;
        background-color: #007bff;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
        margin: 0 auto;
        margin-top: 20px;
        cursor: pointer;
        font-weight: bold;
        letter-spacing: 1px;
      }
    </style>
  </head>
  <body class="hold-transition login-page">
    <div id="reset_pass_box">
      <div class="reset_logo">
        <img
          src="/assets/dist/img/trans-v-box.png"
          alt="Attuned"
          style="width: 120px;"
        />
      </div>
      <div class="login-box">
        <div class="login-logo">
          <b>Reset Password</b>
        </div>
        <!-- /.login-logo -->
        <div class="card">
          <div class="card-body login-card-body">
            <% if(error){ %>
            <p class="login-box-msg"><%- message -%></p>
            <% } %>

            <form
              role="form"
              action="/api/v1/resetPassword/<%= data %>"
              method="post"
              novalidate="novalidate"
              id="loginForm"
              data-url="/api/v1/resetPassword/<%= data %>"
            >
              <div class="form-group">
                <label for="loginPassword">Password</label>
                <input
                  type="password"
                  id="loginPassword"
                  name="password"
                  class="form-control"
                  placeholder="Password"
                />
              </div>
              <div class="form-group">
                <label for="loginPassword">Confirm Password</label>
                <input
                  type="password"
                  id="loginPassword"
                  name="confirmPassword"
                  class="form-control"
                  placeholder="Password"
                />
              </div>
              <div class="row">
                <!-- /.col -->
                <div class="col-12">
                  <button type="submit" class="btn btn-primary btn-block">
                    Submit
                  </button>
                </div>
                <!-- /.col -->
              </div>
              <div class="success-message"></div>
            </form>
          </div>
          <!-- /.login-card-body -->
        </div>
      </div>
    </div>
    <!-- /.login-box -->

    <!-- jQuery -->
    <!-- <script src="../assets/plugins/jquery/jquery.min.js"></script> -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="../assets/plugins/assets/js/bootstrap.bundle.min.js"></script>
    <!-- jquery-validation -->
    <script src="../assets/plugins/jquery-validation/jquery.validate.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../assets/dist/js/adminlte.min.js"></script>
    <script type="text/javascript">
      $(document).ready(function () {
        //   $.validator.setDefaults({
        //     submitHandler: function () {
        //       alert( "Form successful submitted!" );
        //     }
        //   });
        $("#loginForm").on("submit", function (event) {
          event.preventDefault();
          $(".success-message").html("");
          var url = $(this).data("url");
          $.ajax({
            url: url,
            type: "post",
            data: $("#loginForm").serialize(),
            success: function (data) {
              console.log(data);
              $("html").html(data);
            },
            error: function (xhr, status, error) {
              $(".success-message").html(xhr.responseJSON.message);
            },
          });
        });
        $("#loginForm").validate({
          rules: {
            email: {
              required: true,
              email: true,
            },
            password: {
              required: true,
              minlength: 5,
            },
          },
          messages: {
            email: {
              required: "Please enter a email address",
              email: "Please enter a vaild email address",
            },
            password: {
              required: "Please provide a password",
              minlength: "Your password must be at least 5 characters long",
            },
          },
          errorElement: "span",
          errorPlacement: function (error, element) {
            error.addClass("invalid-feedback");
            element.closest(".form-group").append(error);
          },
          highlight: function (element, errorClass, validClass) {
            $(element).addClass("is-invalid");
          },
          unhighlight: function (element, errorClass, validClass) {
            $(element).removeClass("is-invalid");
          },
        });
      });
    </script>
  </body>
</html>
