<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Attuned | Dashboard</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!-- Font Awesome -->
    <link
      rel="stylesheet"
      href="../assets/plugins/fontawesome-free/css/all.min.css"
    />
    <!-- Ionicons -->
    <link
      rel="stylesheet"
      href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"
    />
    <!-- Tempusdominus Bbootstrap 4 -->
    <link
      rel="stylesheet"
      href="../assets/plugins/tempusdominus-bootstrap-4/css/tempusdominus-bootstrap-4.min.css"
    />
    <!-- iCheck -->
    <link
      rel="stylesheet"
      href="../assets/plugins/icheck-bootstrap/icheck-bootstrap.min.css"
    />
    <!-- JQVMap -->
    <link rel="stylesheet" href="../assets/plugins/jqvmap/jqvmap.min.css" />
    <!-- Theme style -->
    <link rel="stylesheet" href="../assets/dist/css/adminlte.min.css" />
    <!-- overlayScrollbars -->
    <link
      rel="stylesheet"
      href="../assets/plugins/overlayScrollbars/css/OverlayScrollbars.min.css"
    />

    <!-- Daterange picker -->
    <link
      rel="stylesheet"
      href="../assets/plugins/daterangepicker/daterangepicker.css"
    />
    <!-- summernote -->
    <link
      rel="stylesheet"
      href="../assets/plugins/summernote/summernote-bs4.css"
    />
    <!-- Google Font: Source Sans Pro -->
    <link
      href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700"
      rel="stylesheet"
    />
    <link rel="icon" href="/assets/dist/img/fav.png" />
  </head>

  <body class="hold-transition sidebar-mini layout-fixed">
    <div class="wrapper">
      <!-- Navbar -->
      <%- include('./common/header.ejs') -%>
      <!-- /.navbar -->

      <!-- Main Sidebar Container -->
      <aside class="main-sidebar sidebar-dark-primary elevation-4">
        <!-- Brand Logo -->
        <a href="index3.html" class="brand-link">
          <img
            src="../assets/dist/img/AdminLTELogo.png"
            alt="AdminLTE Logo"
            class="brand-image img-circle elevation-3"
            style="opacity: 0.8;"
          />
          <span class="brand-text font-weight-light">Attuned</span>
        </a>

        <!-- Sidebar -->

        <%- include('./common/sidebar.ejs') -%>
        <!-- /.sidebar -->
      </aside>

      <div class="content-wrapper">
        <div class="cr-page px-3 NotificationPage" style="display: block;">
          <div class="cr-page__header">
            <h1 class="h1 cr-page__title">Send Notification</h1>
          </div>
          <div class="sendForm">
            <div class="halfWidth form-group">
              <label for="notificationTitle">Notification Title</label
              ><input
                name="notificationTitle"
                placeholder="Enter Notification Title"
                type="text"
                class="form-control"
                value=""
                required
              />
            </div>
            <div class="halfWidth form-group">
              <label for="notificationMessage">Notification Description</label
              ><textarea
                name="notificationMessage"
                placeholder="Enter Notification Description"
                class="text150 form-control"
                required
              ></textarea>
            </div>
            <div class="form-group">
              <label>Notification Type:</label>
              <div class="notificationSelection">
                <div class="radioWrap inlineBlock">
                  <input
                    id="pushNotification"
                    name="notificationType"
                    type="radio"
                    class="formRadio form-check-input"
                    value="0"
                    checked=""
                    data-value="push"
                  />
                  <svg
                    stroke="currentColor"
                    fill="currentColor"
                    stroke-width="0"
                    viewBox="0 0 512 512"
                    height="1em"
                    width="1em"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M256 48C141.1 48 48 141.1 48 256s93.1 208 208 208 208-93.1 208-208S370.9 48 256 48zm106.5 150.5L228.8 332.8h-.1c-1.7 1.7-6.3 5.5-11.6 5.5-3.8 0-8.1-2.1-11.7-5.7l-56-56c-1.6-1.6-1.6-4.1 0-5.7l17.8-17.8c.8-.8 1.8-1.2 2.8-1.2 1 0 2 .4 2.8 1.2l44.4 44.4 122-122.9c.8-.8 1.8-1.2 2.8-1.2 1.1 0 2.1.4 2.8 1.2l17.5 18.1c1.8 1.7 1.8 4.2.2 5.8z"
                    ></path>
                  </svg>
                  <label for="pushNotification">Push Notification</label>
                </div>
                <div class="radioWrap inlineBlock">
                  <input
                    id="emailNotification"
                    name="notificationType"
                    type="radio"
                    class="formRadio form-check-input"
                    value="1"
                    data-value="email"
                  />
                  <svg
                    stroke="currentColor"
                    fill="currentColor"
                    stroke-width="0"
                    viewBox="0 0 512 512"
                    height="1em"
                    width="1em"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M256 48C141.1 48 48 141.1 48 256s93.1 208 208 208 208-93.1 208-208S370.9 48 256 48zm106.5 150.5L228.8 332.8h-.1c-1.7 1.7-6.3 5.5-11.6 5.5-3.8 0-8.1-2.1-11.7-5.7l-56-56c-1.6-1.6-1.6-4.1 0-5.7l17.8-17.8c.8-.8 1.8-1.2 2.8-1.2 1 0 2 .4 2.8 1.2l44.4 44.4 122-122.9c.8-.8 1.8-1.2 2.8-1.2 1.1 0 2.1.4 2.8 1.2l17.5 18.1c1.8 1.7 1.8 4.2.2 5.8z"
                    ></path>
                  </svg>
                  <label for="emailNotification">Email Notification</label>
                </div>
                <div class="radioWrap inlineBlock">
                  <input
                    id="email_pushNotification"
                    name="notificationType"
                    type="radio"
                    class="formRadio form-check-input"
                    value="2"
                    data-value="both"
                  />
                  <svg
                    stroke="currentColor"
                    fill="currentColor"
                    stroke-width="0"
                    viewBox="0 0 512 512"
                    height="1em"
                    width="1em"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      d="M256 48C141.1 48 48 141.1 48 256s93.1 208 208 208 208-93.1 208-208S370.9 48 256 48zm106.5 150.5L228.8 332.8h-.1c-1.7 1.7-6.3 5.5-11.6 5.5-3.8 0-8.1-2.1-11.7-5.7l-56-56c-1.6-1.6-1.6-4.1 0-5.7l17.8-17.8c.8-.8 1.8-1.2 2.8-1.2 1 0 2 .4 2.8 1.2l44.4 44.4 122-122.9c.8-.8 1.8-1.2 2.8-1.2 1.1 0 2.1.4 2.8 1.2l17.5 18.1c1.8 1.7 1.8 4.2.2 5.8z"
                    ></path>
                  </svg>
                  <label for="email_pushNotification"
                    >Push &amp; Email Notification</label
                  >
                </div>
              </div>
            </div>
            <div class="form-group">
              <div class="multiRadios userSelection inlineBlock margin-right5">
                <label>Choose Option</label>
                <span
                  class="imgloader"
                  style="display: block; position: absolute;"
                >
                  <img
                    alt="loader"
                    src="https://caviocasa.com/images/loading.gif"
                  />
                </span>
                <div class="selected-wrapper">
                  <div class="radioWrap inlineBlock">
                    <input
                      id="allusers"
                      name="notificationUser"
                      type="radio"
                      class="formRadio form-check-input choose-option-ch"
                      value="5"
                      checked="checked"
                      data-value="all"
                    />
                    <svg
                      stroke="currentColor"
                      fill="currentColor"
                      stroke-width="0"
                      viewBox="0 0 512 512"
                      height="1em"
                      width="1em"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M256 48C141.1 48 48 141.1 48 256s93.1 208 208 208 208-93.1 208-208S370.9 48 256 48zm106.5 150.5L228.8 332.8h-.1c-1.7 1.7-6.3 5.5-11.6 5.5-3.8 0-8.1-2.1-11.7-5.7l-56-56c-1.6-1.6-1.6-4.1 0-5.7l17.8-17.8c.8-.8 1.8-1.2 2.8-1.2 1 0 2 .4 2.8 1.2l44.4 44.4 122-122.9c.8-.8 1.8-1.2 2.8-1.2 1.1 0 2.1.4 2.8 1.2l17.5 18.1c1.8 1.7 1.8 4.2.2 5.8z"
                      ></path>
                    </svg>
                    <label for="allNotification">Send to All Users</label>
                  </div>
                  <div class="radioWrap inlineBlock">
                    <input
                      id="selectedusers"
                      name="notificationUser"
                      type="radio"
                      class="choose-option-ch formRadio form-check-input"
                      value="5"
                      data-value="selected"
                    />
                    <svg
                      stroke="currentColor"
                      fill="currentColor"
                      stroke-width="0"
                      viewBox="0 0 512 512"
                      height="1em"
                      width="1em"
                      xmlns="http://www.w3.org/2000/svg"
                    >
                      <path
                        d="M256 48C141.1 48 48 141.1 48 256s93.1 208 208 208 208-93.1 208-208S370.9 48 256 48zm106.5 150.5L228.8 332.8h-.1c-1.7 1.7-6.3 5.5-11.6 5.5-3.8 0-8.1-2.1-11.7-5.7l-56-56c-1.6-1.6-1.6-4.1 0-5.7l17.8-17.8c.8-.8 1.8-1.2 2.8-1.2 1 0 2 .4 2.8 1.2l44.4 44.4 122-122.9c.8-.8 1.8-1.2 2.8-1.2 1.1 0 2.1.4 2.8 1.2l17.5 18.1c1.8 1.7 1.8 4.2.2 5.8z"
                      ></path>
                    </svg>
                    <label for="allNotification">Send to Selected </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="sn-modal hideModal">
              <div class="sn-modalInner">
                <h2>All Users</h2>
                <div class="headerFilters">
                  <form class="cr-search-form">
                    <input
                      placeholder="Search..."
                      name="search"
                      type="search"
                      class="cr-search-form__input form-control"
                    />
                    <button type="submit" class="searchSubmit">
                      <svg
                        stroke="currentColor"
                        fill="currentColor"
                        stroke-width="0"
                        viewBox="0 0 24 24"
                        size="20"
                        class="cr-search-form__icon-search text-secondary"
                        height="20"
                        width="20"
                        xmlns="http://www.w3.org/2000/svg"
                      >
                        <path
                          d="M15.5 14h-.79l-.28-.27C15.41 12.59 16 11.11 16 9.5 16 5.91 13.09 3 9.5 3S3 5.91 3 9.5 5.91 16 9.5 16c1.61 0 3.09-.59 4.23-1.57l.27.28v.79l5 4.99L20.49 19l-4.99-5zm-6 0C7.01 14 5 11.99 5 9.5S7.01 5 9.5 5 14 7.01 14 9.5 11.99 14 9.5 14z"
                        ></path>
                      </svg>
                    </button>
                  </form>
                </div>
                <div>
                  <div
                    class="form-group"
                    style="clear: both; padding-top: 20px;"
                  >
                    <label>Select Users</label>
                    <div
                      class="dataTables_length"
                      id="example1_length"
                      style="float: right;"
                    >
                      <label>Go To Page:</label>
                      <select
                        name="example1_length"
                        id="cm-pagination-select"
                        class="custom-select custom-select-sm form-control form-control-sm"
                        ><option value="0">1</option></select
                      >
                    </div>
                  </div>
                  <div class="row">
                    <div class="col">
                      <div class="mb-3 card users-table">
                        <table
                          id="example1"
                          class="table table-bordered table-striped dataTable"
                          role="grid"
                          aria-describedby="example1_info"
                        >
                          <thead>
                            <tr role="row">
                              <th></th>
                              <th
                                class="sorting_asc"
                                tabindex="0"
                                aria-controls="example1"
                                rowspan="1"
                                colspan="1"
                                aria-sort="ascending"
                                aria-label="Rendering engine: activate to sort column descending"
                                style="width: 270px;"
                              >
                                Name
                              </th>
                              <th
                                class="sorting"
                                tabindex="0"
                                aria-controls="example1"
                                rowspan="1"
                                colspan="1"
                                aria-label="Browser: activate to sort column ascending"
                                style="width: 342px;"
                              >
                                Email
                              </th>
                              <th
                                class="sorting"
                                tabindex="0"
                                aria-controls="example1"
                                rowspan="1"
                                colspan="1"
                                aria-label="User Recording"
                                style="width: 342px;"
                              >
                                User's Recording
                              </th>
                              <th
                                class="sorting"
                                tabindex="0"
                                aria-controls="example1"
                                rowspan="1"
                                colspan="1"
                                aria-label="Platform(s): activate to sort column ascending"
                                style="width: 305px;"
                              >
                                Action
                              </th>
                            </tr>
                          </thead>
                          <tbody></tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                  <div class="tablePagination"></div>
                </div>
              </div>
            </div>
            <!-- <div class="thanksforsubmit">Submit Successfully</div> -->
            <div class="sendBtnWrap form-group">
              <button class="btn gradient_btn">Send</button>
            </div>
          </div>
          <div class="notifications-wrapper"></div>
        </div>
      </div>

      <!-- Content Wrapper. Contains page content -->

      <div class="maxoverlay"></div>
      <style>
        /* .thanksforsubmit {
          display: none;
        }
        .thanksforsubmit.active {
          margin-bottom: 20px;
          color: green;
          display: block;
        } */
        div#example1_filter {
          display: block;
          text-align: right;
          margin-bottom: 10px;
        }
        .maxoverlay {
          position: fixed;
          top: 0;
          right: 0;
          left: 0;
          display: none;
          bottom: 0;
          z-index: 9999;
          background-color: rgba(0, 0, 0, 0.3);
        }
        .maxuserrecording i {
          display: inline-block;
          vertical-align: middle;
        }

        .maxuserrecording {
          display: inline-block;
          cursor: pointer;
          position: relative;
          top: 5px;
        }
        .fa-file-sound-o:before,
        .fa-file-audio-o:before {
          content: "\f1c7";
        }

        .cr-page__header h1 {
          font-size: 24px;
          margin-bottom: 20px;
        }

        .form-group label {
          font-size: 17px !important;
          font-family: Source Sans Pro, Helvetica Neue, Helvetica, Arial,
            sans-serif;
          display: inline-block;
          margin-bottom: 0.5rem;
          font-weight: normal !important;
        }

        textarea.text150.form-control {
          min-height: 150px;
        }

        .inlineBlock {
          display: inline-block;
          vertical-align: middle;
        }

        .radioWrap {
          position: relative;
        }

        .inlineBlock.radioWrap {
          margin-right: 25px;
        }

        .radioWrap .formRadio {
          width: 20px;
          height: 20px;
          margin: 0;
          position: absolute;
          left: 0;
          top: 0;
          opacity: 0;
          z-index: 1;
          cursor: pointer;
        }

        .radioWrap .formRadio:checked + svg {
          color: #007bff;
          width: 23px;
          height: 23px;
          border: none;
        }

        .radioWrap svg {
          color: transparent;
          width: 20px;
          height: 20px;
          border: 1px solid #ced4da;
          border-radius: 50%;
        }

        .headerFilters .cr-search-form .cr-search-form__input {
          width: 100% !important;
          padding: 6px 0 6px 20px !important;
          height: unset;
          font-size: 13px;
          box-shadow: none !important;
          padding-right: 35px !important;
        }
        nav.main-header.navbar.navbar-expand.navbar-white.navbar-light {
          display: none;
        }
        .headerFilters .cr-search-form .searchSubmit {
          top: 50%;
          -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
          position: absolute;
          right: 8px;
          border: none;
          background: #fff;
          width: 30px;
          z-index: 2;
          outline: none;
        }

        .headerFilters .cr-search-form {
          width: 100%;
          margin-right: 10px;
          background: #fff;
          border-radius: 0.25rem;
          border: 1px solid #ced4da;
          margin-bottom: 10px;
          margin-top: 20px;
        }

        .cr-search-form {
          position: relative;
        }

        .checkBox input {
          width: 25px;
          height: 25px;
          position: absolute;
          left: 50%;
          top: 50%;
          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          z-index: 1;
          opacity: 0;
          cursor: pointer;
        }

        .checkBox span {
          width: 25px;
          height: 25px;
          display: block;
          margin: auto;
          border: 1px solid #dee2e6;
          position: relative;
          cursor: pointer;
        }

        .checkBox span svg {
          position: absolute;
          top: 50%;
          left: 50%;
          -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
          width: 100%;
          height: 100%;
          fill: #fff;
          background: #007bff;
          border: 4px solid #007bff;
          display: none;
          cursor: pointer;
        }

        .checkBox input:checked + span svg {
          display: block;
        }

        .checkBox {
          position: relative;
        }

        .sendForm .form-group {
          margin-bottom: 20px;
          margin-top: 10px;
        }

        .sendForm .form-group button.btn.gradient_btn {
          background-color: #007bff;
          text-decoration: none;
          display: inline-block;
          color: #fff;
          padding: 5px 20px;
        }

        .radioWrap label {
          margin-left: 10px;
          font-size: 15px !important;
          cursor: pointer;
        }

        .hideModal {
          display: none;
        }

        .showModal {
          display: block;
        }

        .cr-page.px-3 {
          padding: 40px;
        }

        #example1 th.sorting:nth-child(n + 4),
        .users-table tbody tr:nth-child(n + 21),
        #example1 tbody tr td:nth-child(n + 4) {
          display: none;
        }
        .imgloader img {
          width: 30px;
        }
        .userSelection > div {
          visibility: hidden;
        }
        .table-bordered td,
        .table-bordered th {
          text-align: center;
        }

        .table-bordered {
          margin: 0;
        }
        #example1 thead tr td:first-child,
        #example1 tbody tr td:first-child {
          width: 15%;
        }
      </style>
      <!-- /.content-wrapper -->
      <!-- <%- include('./common/footer.ejs') -%> -->

      <!-- Control Sidebar -->
      <aside class="control-sidebar control-sidebar-dark">
        <!-- Control sidebar content goes here -->
      </aside>
      <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->

    <!-- jQuery -->
    <script src="../assets/plugins/jquery/jquery.min.js"></script>
    <!-- jQuery UI 1.11.4 -->
    <script src="../assets/plugins/jquery-ui/jquery-ui.min.js"></script>
    <!-- Resolve conflict in jQuery UI tooltip with Bootstrap tooltip -->
    <script>
      $.widget.bridge("uibutton", $.ui.button);
    </script>
    <!-- Bootstrap 4 -->
    <script src="../assets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- ChartJS -->
    <script src="../assets/plugins/chart.js/Chart.min.js"></script>
    <!-- Sparkline -->
    <script src="../assets/plugins/sparklines/sparkline.js"></script>
    <!-- JQVMap -->
    <script src="../assets/plugins/jqvmap/jquery.vmap.min.js"></script>
    <script src="../assets/plugins/jqvmap/maps/jquery.vmap.usa.js"></script>
    <!-- jQuery Knob Chart -->
    <script src="../assets/plugins/jquery-knob/jquery.knob.min.js"></script>
    <!-- daterangepicker -->
    <script src="../assets/plugins/moment/moment.min.js"></script>
    <script src="../assets/plugins/daterangepicker/daterangepicker.js"></script>
    <!-- Tempusdominus Bootstrap 4 -->
    <script src="../assets/plugins/tempusdominus-bootstrap-4/js/tempusdominus-bootstrap-4.min.js"></script>
    <!-- Summernote -->
    <script src="../assets/plugins/summernote/summernote-bs4.min.js"></script>
    <!-- overlayScrollbars -->
    <script src="../assets/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js"></script>
    <!-- AdminLTE App -->
    <script src="../assets/dist/js/adminlte.js"></script>
    <!-- AdminLTE dashboard demo (This is only for demo purposes) -->
    <script src="../assets/dist/js/pages/dashboard.js"></script>
    <!-- AdminLTE for demo purposes -->
    <script src="../assets/dist/js/demo.js"></script>
    <script>
      $(".NotificationPage #selectedusers").click(function () {
        $(".sn-modal").addClass("showModal");
        $(".sn-modal").removeClass("hideModal");
        $(".users-table tbody .checkBox input").removeAttr("checked");
        $(".users-table tbody tr").removeClass("current");
      });
      $(document).on("click", ".NotificationPage  #allusers", function () {
        $(".sn-modal").removeClass("showModal");
        $(".sn-modal").addClass("hideModal");
        $(".users-table tbody .checkBox input").attr("checked", "checked");
        $(".users-table tbody tr").addClass("current");
      });

      var totaluserCount = Math.ceil(
        parseFloat(localStorage.getItem("userCount") / 20)
      );
      $("select#cm-pagination-select").html("");
      for (let i = 1; i <= totaluserCount; i++) {
        $("select#cm-pagination-select").append(
          `<option value="${i}">${i}</option>`
        );
      }
      function selectFunction() {
        let itsPageVal = $(this).val();
        $(".users-table tbody tr").each(function (i, e) {
          if (20 * itsPageVal >= i && i >= (itsPageVal - 1) * 20) {
            $(this).fadeIn();
            $(this).addClass("current");
          } else {
            $(this).fadeOut();
            $(this).removeClass("current");
          }
        });
      }
      function checkbox() {
        if ($(this).is(":checked")) {
          $(this)
            .parents(".users-table")
            .find("tbody tr.current .checkBox input")
            .attr("checked", "checked");
        } else {
          $(this)
            .parents(".users-table")
            .find("tbody tr.current .checkBox input")
            .removeAttr("checked");
        }
      }
      $(document).on("click", ".users-table thead .checkBox input", checkbox);
      $("select#cm-pagination-select").change(selectFunction);
      var countI = 0;
      function printUsers() {
        if (countI < totaluserCount) {
          $(".users-table tbody").append('<div class="first"></div>');
          $(".users-table tbody .first").load(
            "/admin/getUsersList?page=" + countI + "#example1 tbody",
            function () {
              setTimeout(() => {
                $("#example1 tbody .first tr")
                  .prepend(`<td><div class="toggle_check checkBox">
<input type="checkbox" class="checkActive" value="57">
<span>
<svg stroke="currentColor" fill="currentColor" stroke-width="0" viewBox="0 0 512 512" height="1em" width="1em" xmlns="http://www.w3.org/2000/svg">
  <path d="M186.301 339.893L96 249.461l-32 30.507L186.301 402 448 140.506 416 110z"></path>
</svg>
</span>
</div></td>`);

                $(".users-table tbody .first tr").unwrap();
                $(".users-table tbody  .first tr").addClass("active");
                if ($(".users-table tbody tr").hasClass("active")) {
                  $(".users-table tbody  .first tr").unwrap();
                  $(".users-table tbody .checkBox input").attr(
                    "checked",
                    "checked"
                  );
                  $(".users-table tbody tr").addClass("current");
                  $(document).on(
                    "click",
                    ".users-table thead .checkBox input",
                    checkbox
                  );
                  countI++;
                  printUsers();
                }
              });
            }
          );
        } else {
          $(".userSelection > div").css("visibility", "visible");
          $(".userSelection  .imgloader").css("visibility", "hidden");
        }
      }
      printUsers();

      $(".headerFilters .cr-search-form").submit(function (event) {
        event.preventDefault();
        var val = $(this).find(".cr-search-form__input").val().toLowerCase();
        $(".NotificationPage .users-table tbody tr,.users-list tbody tr").each(
          function () {
            var td = $(this).find("*").text().toLowerCase();
            if (td.indexOf(val) !== -1) {
              $(this).fadeIn();
              $(this).addClass("current");
            } else {
              $(this).fadeOut();
              $(this).removeClass("current");
            }
          }
        );
      });

      $(".sendForm .form-group button.btn.gradient_btn").on(
        "click",
        function () {
          var $this = $(this);
          $this.attr("disabled", "disabled");
          var check = $(".users-table tbody .checkBox input:checked");
          var sendToIds = [];
          check.each(function (i, e) {
            var a = $(this).parents("tr").find("[data-id]").attr("data-id");
            sendToIds.push(a);
          });
          var optionType = $(
            ".selected-wrapper .radioWrap .formRadio:checked"
          ).attr("data-value");
          var notificationTitle = $(
            '.sendForm input[name="notificationTitle"]'
          ).val();
          var notificationMessage = $(
            '.sendForm textarea[name="notificationMessage"]'
          ).val();
          var notificationType = $(
            ".notificationSelection .radioWrap .formRadio:checked"
          ).attr("data-value");
          $(".max-loader-overlay").fadeIn();
          var obj = {
            optionType,
            notificationTitle,
            notificationMessage,
            notificationType,
            sendToIds,
          };
          $.post("/admin/adminSendNotification", obj, function (data, status) {
            $this.removeAttr("disabled");
            $(".max-loader-overlay").fadeOut();
          });
        }
      );
    </script>
  </body>
</html>
