<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Customer Email Confirmation Emailer</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width" />
    <style>
      @font-face {
        font-family: "YuGothic";
        src: url("fonts/YuGothic-Regular-01.ttf");
      }
      table {
        border-collapse: collapse;
      }
      @media only screen and (max-device-width: 480px) {
        #confirm-email-text {
          font-size: 18px !important;
        }
      }
      img {
        max-width: 100%;
      }
    </style>
  </head>
  <body style="margin: 0px;">
    <table
      style="
        margin: 0 auto;
        max-width: 600px;
        border-radius: 10px;
        background-color: white;
      "
    >
      <tbody>
        <tr>
          <td>
            <table
              cellspacing="0"
              cellpadding="0"
              style="margin: 0 auto; width: 100%; border-spacing: 0px;"
            >
              <tbody>
                <tr>
                  <td>
                    <table style="margin: 0 auto;">
                      <tbody>
                        <tr>
                          <td style="margin-bottom: 0px;">
                            <center>
                              <img
                                src="https://transvbox.s3.amazonaws.com/common/1590561192903.png"
                              />
                            </center>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
            <table
              cellspacing="0"
              cellpadding="0"
              style="width: 100%; margin: 0 auto; background-color: #ffffff;"
            >
              <tbody>
                <tr>
                  <td style="border: 0px; padding: 0px;">
                    <table style="margin: 0 auto;">
                      <tbody>
                        <tr>
                          <td
                            style="
                              background-color: #ffffff;
                              margin: 0 auto;
                              padding-top: 35px;
                            "
                          >
                            <p
                              style="
                                font-family: 'YuGothic';
                                font-size: 18px;
                                font-weight: bold;
                                font-stretch: normal;
                                font-style: normal;
                                line-height: normal;
                                letter-spacing: -0.43px;
                                text-align: center;
                                color: #666666;
                                margin-top: 0px;
                              "
                            >
                              Hi {{user}}!! <br />
                              {{message}}
                            </p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
            <table
              cellspacing="0"
              cellpadding="0"
              style="width: 100%; margin: 0 auto; background-color: #ffffff;"
            >
              <tbody>
                <tr>
                  <td style="border: 0px; padding: 0px;">
                    <table style="margin: 0 auto;">
                      <tbody>
                        <tr>
                          <td
                            style="background-color: #ffffff; margin: 0 auto;"
                          >
                            <p
                              style="
                                font-family: 'YuGothic';
                                font-size: 20px;
                                font-weight: bold;
                                letter-spacing: -0.48px;
                                font-stretch: normal;
                                font-style: normal;
                                line-height: 1.36;
                                text-align: center;
                                color: #666666;
                                margin-top: 0px;
                                margin-bottom: 0px;
                                padding-top: 60px;
                              "
                            >
                              Need Help?
                            </p>
                          </td>
                        </tr>
                        <tr>
                          <td
                            style="background-color: #ffffff; margin: 0 auto;"
                          >
                            <p
                              style="
                                font-family: 'YuGothic';
                                font-size: 14px;
                                font-weight: normal;
                                font-stretch: normal;
                                font-style: normal;
                                line-height: 1.36;
                                letter-spacing: -0.18px;
                                text-align: center;
                                color: #666666;
                                margin-top: 0px;
                                margin-bottom: 0px;
                                padding-bottom: 38px;
                              "
                            >
                              Please send and feeback or bug info<br />
                              to
                              <span style="color: #448df7;"
                                >info@attunedvoice.com</span
                              >
                            </p>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
