
    <div class="popupOverlay"></div>
    <div class="popUpWrapper">
        <div class="popUpText">
            <span class="closePopUp"></span>
            <p>Add Lessons</p>
    <form>
        <div class="fieldWrapper">
            <label>Lesson Name</label>
            <input type="text" required>
        </div>

            <div class="addDelQues">
            <span>Add Lesson Content</span>
            <div class="icons">
                <span class="add"></span>
                <!-- <span class="del"></span> -->
            </div>
            </div>

            <div class="fieldWrapper  multipleOptions">
                    <div class="optionWrapper">
                    <div class="left">
                            <div>
                                    <label>Content Type</label>
                                    <select required class="optionType">
                                        <option value="text">Text</option>
                                        <option value="video">Video</option>

                                    </select>
                                </div>

                                <div class="videoField hide">
                                        <label>Upload Video</label>
                                        <input type="file" accept="video/mp4,video/x-m4v,video/*" required>
                                    </div>

                                    <div class="textField show">
                                            <label>text</label>
                                            <input type="text" required>
                                        </div>


                    </div>
                    <div class="right addDelQues">
                    <div class="icons">
                            <span class="del"></span>
                        </div>
                    </div>
                </div>
                </div>
        

    </form>
    
    <div class="btnWrapper">
            <button type="button">Add Lessons</button>
    </div>
    </form>
</div>
</div>


<div class="clone" >
    <div class="optionWrapper">
        <div class="left">
                <div>
                        <label>Content Type</label>
                        <select required class="optionType">
                            <option value="text">Text</option>
                            <option value="video">Video</option>

                        </select>
                    </div>

                    <div class="videoField hide">
                            <label>Upload Video</label>
                            <input type="file" accept="video/mp4,video/x-m4v,video/*" required>
                        </div>

                        <div class="textField show">
                                <label>text</label>
                                <input type="text" required>
                            </div>


        </div>
        <div class="right addDelQues">
        <div class="icons">
                <span class="del"></span>
            </div>
        </div>
    </div>
    </div>